.wrapper {
	height: 129px;
	width: 210px;
	background-color: var(--black);
	border-radius: 12px;
	padding: 10px;
	display: grid;
	grid-template-columns: 55px 125px;
	grid-template-rows: 59px 70px;
	gap: 10px;
	grid-template-areas:
	"img wrapperP"
	"buttonWatch buttonWatch";
}

.wrapperP {
	grid-area: wrapperP;
}

.title {
	color: var(--white);
	height: 16px;
	width: 96px;
}

.subtitle {
	color: var(--white-light);
	height: 14px;
	width: 85px;
	margin-top: 20px;
}

.img {
	grid-area: img;
}

.buttonWatch {
	grid-area: buttonWatch;
	transition: 0.7s all;
	margin: 0 auto;
}

.buttonWatch:hover {
	opacity: 0.7;
}